.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    width: 70%;
    margin-top: 25px;
    text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .video__comments-list {
      margin-top: 50px;
      text-align: justify;
      li {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: black;
        padding: 15px;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        .comment__main {
          width:100%;
          display:flex;
          justify-content: start;
          align-items: start;
          .comment__avatarUrl {
            width: 5%;
            margin-right: 10px;
            height:45px;
            border-radius: 50%;
          }
          .comment__contents{
            width: 85%;
            height:80px;
            .contents__creator{
              margin-bottom: 10px;
              font-size: 14px
            }
            .contents__text{
              font-size: 18px
            }
          }
          .comment__remove {
            width: 10%;
          }
        }
        .comment__footer{
          span {
            opacity: 0.7;
            cursor: pointer;
          }
        }
        .comment__input {
          display:none;
          margin-top: 2%;
        }
        .comment__reComment{
          width:100%;
          padding: 0;
          padding-left: 5%;
          li {
            padding: 15px 0px 0px 0px;
            margin: 0;
          }
        }
      }
    }
  }
}
